<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/styles/game.css">
    <title>Partida</title>
</head>
<body>
    <main>
        <div id="main_container">
            <div id="container_player1">
                
            </div>
            <div id="container_player2"">
                
            </div>
        </div>
    </main>

    
    

    <script src="../dynamics/script/game.js"></script>
    <script src="../dynamics/script/test_.js"></script>
    <script src="../dynamics/script/template.js"></script>
</body>
</html>